
.root {
    width: 100%;
    display: flex;
    margin-top: 10px;
    .form {

        margin:  auto;
        display: flex;
        width: 400px;
        flex-direction: column;
        .title {
            margin: 6px;
        }
        .input {
            margin: 6px 0;
        }
        
    }
}